.Locations{
    margin: auto;
    width: 80%;
    height: 80vh;
    background-color: #b9ecff;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;

}
.Content{
    overflow: auto;
    width: 100%;
    height: 90%;
    padding-left: 0;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #baedff;

}
.chestElement{
    border:2px solid black;
    width:450px;
    max-height: 400px;
    overflow: auto;
    box-shadow: 5px 5px 10px black;
    margin: 10px;
    background-color: #ffefa3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.chestElement> p{
    text-align: center;
}
.LocationBox{
   border: 3px solid #020804;
    box-shadow: 5px 5px 10px black;
    background-color: #d5d5d5;
    font-size: 18px;
    width: 400px;
    overflow: auto;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}
.Selected{
    background-color: #d4fffa;
}



.headerBar  {
    /*border: 1px solid black;*/
    background-color: #ffefa3;
    border: 1px solid #020804;
    box-shadow: 5px 5px 10px black;
    margin-top: 5px;


}












.AddLocation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position:absolute;
    width: 100%;
    height: 95%;
    background-color: #e6e6ea;
    z-index: 100;
    transform: translateY(-100%);
    transition: all 1s;
}

.modalOpen{
    opacity: 1;
    transform: translateY(0);
}
.modalClose{
    opacity: 0;
    transform: translateY(-100%);
}
.AddLocationForm{
    background-color: whitesmoke;
    margin: auto;
    height: 210px;
    width: 450px;
    box-shadow: 5px 10px 8px #888888;
    border: 1px solid #00b3ee;
}
.AddLocationFormInputBox{
    margin:20px;

}
.AddLocationFormInput{
    margin-bottom: 5px;
}
.AddLocationFormInputBox input{
    margin: 5px;
}
.AddLocationFormInputBox button{
    margin: 5px;
}
.AddLocationFormInputBox select{
    margin: 5px;
}
.buttonDisabled{
    background-color: red;
    cursor: not-allowed;
    color: #c50000;
}