.footerBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #b9ecff;
    width: 100%;
    height: 50px;

}
button{
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
}