.Categories{
    margin: auto;
    width: 80%;
    height: 80vh;
 /*   background-color: #c6e3ff;*/
    background-color: #baedff;
    display: flex;
    flex-flow: column;
   justify-content: space-between;
   align-items: center;
   overflow: auto;
}

.categoryList li{
    margin-right: 10vw;
    margin-top: 15px;
    font-size: 20px;

}
.selected{
    background-color: #a8a8ac;
}

.AddCategory {
  display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   position:absolute;
   width: 100%;
   height: 95%;
   background-color: #e6e6ea;
   z-index: 100;
   transform: translateY(-100%);
   transition: all 1s;
}

.modalOpen{
    opacity: 1;
    transform: translateY(0);
}
.modalClose{
    opacity: 0;
    transform: translateY(-100%);
}
.AddCategoryForm{
    background-color: whitesmoke;
    margin: auto;
    height: 100px;
    width: 350px;
    box-shadow: 5px 10px 8px #888888;
    border: 1px solid #00b3ee;
}
.AddCategoryFormInputBox{
    margin-top: 20px;
}
.AddCategoryFormInput{
  margin-bottom: 5px;
}
.headerBar  {
    background-color: #ffefa3;
    border: 1px solid #020804;
    box-shadow: 5px 5px 10px black;
    margin-top: 5px;


}
