.App {
  text-align: center;
}
body{
 /* background: url("logo.svg") ;*/
  background-color: #cccccc;
  background-image: linear-gradient(#3e79ff, #d4fffa);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #a8a8ac;
  height: 90px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
